.no-border {
  border: 0;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border: bottom style 2px;
}

.title-color {
  color: "#7D72B5";
}

p {
  margin: 0;
  padding: 0;
}
